# -*- conf -*-
/build/bootstrap/*.com                                     binary
/build/bootstrap/gcc/bin/*                                 binary
/build/bootstrap/gcc/lib/gcc/x86_64-linux-musl/9.2.0/*.o   binary
/build/bootstrap/gcc/lib/gcc/x86_64-linux-musl/9.2.0/*.a   binary
/build/bootstrap/gcc/libexec/gcc/x86_64-linux-musl/9.2.0/* binary
/build/bootstrap/gcc/x86_64-linux-musl/bin/*               binary
/build/bootstrap/gcc/x86_64-linux-musl/lib/*.o             binary
/build/bootstrap/gcc/x86_64-linux-musl/lib/*.a             binary
